name: CGL
on:
  push:
    branches:
      - '**'

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # Linting
      - name: Lint .editorconfig
        uses: greut/eclint-action@v0.5.0
        with:
          eclint_args: |
            -exclude LICENSE
      - name: Lint YAML files
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_data: |
            extends: default
            rules:
              document-start: disable
              line-length: disable
